{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="row">
        <form action="{{ path("postcreate") }}">
            <input type="submit" value="Stwórz myśl" />
        </form>
    </div>
    <div class="overflow-auto" style="max-height: 40vh;">
        {% for post in posts %}
            <div class="row">
                <div class="col-12 col-xl-4">
                    {% if post.photo == null %}
                        <div class="photo">
                            <img src={{ asset('images/nullPhoto.png') }}>
                        </div>
                    {% else %}
                        <div class="photo">
                            <img src="{{ asset('uploads/' ~ post.photo) }}">
                        </div>
                    {% endif %}
                </div>
                <div class="col-6 offset-xl- 1 col-xl-4">
                    <h3>{{ post.autor }}</h3><br>
                    <h4>{{ post.thought }}</h4>
                </div>
                <div class="col-6 offset-xl- 1 col-xl-1">
                    <a class="text-danger" href="{{ path("postdelete", {id:post.id }) }}">
                        Delete
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
