<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/d05ac18085.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            <link href="{{ asset('CSS/styles.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="nav-link nav-item" href="#"><img class="pb-1"src="{{ asset('images/roof.png') }}"/><span class="navbar-text p-2">Hudaszek</span></a>

                <a href="#" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-menu"><i class="navbar-toggler-icon"></i></a>
                <div class="navbar-collapse collapse" id="navbar-menu">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-link nav-item" href="{{ path('main') }}">Home</a>
                        <a class="nav-link nav-item" href="{{ path('postcreate') }}">Stwórz myśl</a>
                        {% if is_granted('IS_ANONYMOUS') %}
                            <a class="nav-link nav-item" href="{{ path('registration') }}">Rejestracja</a>
                        {% endif %}
                        {% if is_granted('IS_ANONYMOUS') %}
                            <a class="nav-link nav-item" href="{{ path('app_login') }}">Logowanie <span class="sr-only">(current)</span></a>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="nav-link nav-item" href="{{ path('app_logout') }}">Wyloguj<span class="sr-only">(current)</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}

        {% block javascripts %}

        {% endblock %}
    </body>
</html>
